@page "/"

<PageTitle>Home</PageTitle>

<h1>🌱 Eco Monitor</h1>

<EcoStatus Titulo="Reciclagem de Plástico" Peso="1"/>
<EcoStatus Titulo="Plantio de Árvores" Peso="10"/>
<EcoStatus Titulo="Descarte de Eletrônicos" Peso="5"/>
